<ul class="nav nav-pills nav-stacked" style="padding-left: 5px; padding-right: 1150px">
        <li><a routerLink="/restaurantdetails"><span class="glyphicon glyphicon-th-list"></span> Details </a></li>
        <li><a routerLink="/restaurantmenu"><span class="glyphicon glyphicon-menu-hamburger"></span> Add items to Menu </a></li>
        <li><a routerLink="/restaurantstats"><span class="glyphicon glyphicon-stats"></span> Statistics </a></li>
        <li><a routerLink="/orderhistory"><span class="glyphicon glyphicon-folder-open"></span> Order History</a></li>
        <li><a routerLink="/restaurantviewmenu"> View Menu </a></li>
        <li><a routerLink="/restaurantviewdetails"> View Details</a></li>
        <li><a routerLink="/currentorders"> Current Orders </a></li>
    </ul>