<html>

<head>
  <title>
    Restaurant Menu
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="restaurantviewmenu.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>
<app-restaurantdropdown></app-restaurantdropdown>

<div class="container"  style="padding: 20px 20px 0px 20px;margin-top: 5%; margin-bottom: 5%">
  <div class="container">
    <h3 style="color:maroon;font-size: 50px; text-align: center; font-style:italic; font-weight: bold;">Restaurant Menu</h3>
    <p style=" font-size: 20px; color:maroon;text-align: justify;font-style:italic ;">Below is how a customer will see your Restaurant menu</p>
  </div>
  <hr>
  <ul>
    <div *ngFor="let item of menu">
      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <img [src]="'/menu_images/' + item.image" alt="" style="width: 150px; height: 100px">
          </div>
          
          <div class="col-md-6">
            <div class="row" style="margin: 1% 10%;">
              <div class="row">
                <p>
                  <strong> Name: </strong>
                  {{item.name}}
                </p>
              </div>
              <div class="row">
                <p>
                  <strong> Price: $ </strong>
                  {{item.cost}}
                </p>
              </div>
              <div class="row">
                <p>
                  <strong> Description: </strong>
                  {{item.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
           <a class="edit-link pull-right" (click)="remove(item.name, i)">Remove</a>
        </div>
        <hr>
      </div>
    </div>
  </ul>
</div>

</body>

</html>
