<html>

<head>
  <title>
    Delivery Profile
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="deliveryeditprofile.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>
<app-deliverydropdown></app-deliverydropdown>

<div class="container">
  <div class="container">
    <h3>Delivery Details</h3>
  </div>
  <hr>
  <div class="row">
    <div class=" col-md-6">
      <ul *ngIf="delivery_details">
        <h4><strong> {{delivery_details.name}} </strong></h4>
        <li>
          <strong> Contact: </strong> <a href="tel:{{delivery_details.contact}}">{{delivery_details.contact}}</a>
        </li>
        <li>
          <strong> Address: </strong>
          {{delivery_details.street1 + delivery_details.street2 + delivery_details.city + delivery_details.state + delivery_details.zip_code}}
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <a class="edit-link pull-right" href="#" routerLink="/deliveryeditprofile">Edit</a>
  </div>
</div>

</body>
</html>
