<nav class="delivery-dropdown navbar navbar-light navbar-fixed-top navbar-expand-lg  bg-light static-top mb-5 shadow" style="padding-right: 30px">
  <!-- Navbar content -->
  <!-- Just an image -->
  <a class="navbar-brand" routerLink="/public" style="padding: 0;">
    <img src="../../assets/img/logo.png" height="60" alt="">
  </a>
  <ul class="nav navbar-nav navbar-right" style="width: 80% ;height:60px; text-align: center;">
    <li class="" style="width: 200px; text-align: center">
        <button  class=" btn btn-warning navbar-btn " routerLink="/deliverycurrentorders" style="  margin-top: 10px;margin-bottom: 10px; color: #000;">
        <span class="glyphicon glyphicon-glass" style="color: black;"></span>
        Current Order
        </button>
    </li>
    <li>
        <button  class=" btn btn-warning navbar-btn "  routerLink="/deliveryorderhistory" style="   margin-top: 10px;margin-bottom: 10px; color: #000;">
        <span class="glyphicon glyphicon-glass" style="color: black;"></span>
        Order History
        </button>
    </li>
    <li>
        <button  class=" btn btn-warning navbar-btn " routerLink="/deliverychatfeature" style="   margin-top: 10px;margin-bottom: 10px; color: #000;">
        <span class="glyphicon glyphicon-glass" style="color: black;"></span>
        Chat
      </button>
    </li>
    <li>
        <button  class=" btn btn-warning navbar-btn " routerLink="/deliveryprofile" style="  margin-top: 10px;margin-bottom: 10px; color: #000;" >
        <span class="glyphicon glyphicon-user" style="color: black;"></span>
        Profile
      </button>
    </li>
    <li>
        <button  class=" btn btn-warning navbar-btn " routerLink="/deliverylogin" style="   margin-top: 10px;margin-bottom: 10px; color: #000;">
        <span class="glyphicon glyphicon-log-out" style="color: black;"></span>
        Logout
      </button>
    </li>
  </ul>
</nav>
