<nav class="delivery-dropdown navbar navbar-light" style="padding-right: 30px">
  <!-- Navbar content -->
  <!-- Just an image -->
  <a class="navbar-brand" routerLink="/public" style="padding: 0;">
    <img src="../../assets/img/logo.png" height="50" alt="">
  </a>
  <ul class="nav navbar-nav navbar-right" style="width: 80%">
    <li>
      <a href="#" routerLink="/deliverycurrentorders">
        <span class="glyphicon glyphicon-glass"></span>
        Current Order
      </a>
    </li>
    <li>
      <a href="#" routerLink="/deliveryorderhistory">
        <span class="glyphicon glyphicon-glass"></span>
        Order History
      </a>
    </li>
    <li>
      <a href="#" routerLink="/deliverychatfeature">
        <span class="glyphicon glyphicon-glass"></span>
        Chat
      </a>
    </li>
    <li>
      <a href="#" routerLink="/deliveryprofile">
        <span class="glyphicon glyphicon-user"></span>
        Profile
      </a>
    </li>
    <li>
      <a href="#" routerLink="/deliverylogin">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
      </a>
    </li>
  </ul>
</nav>
