<h3>Public View</h3>

<!-- Bootstrap CDN scripts -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<button type = "button" class = "btn btn-success btn-md" routerLink="/login">Customer Login</button>
<br>
<button type = "button" class = "btn btn-info btn-md" routerLink="/registration">Customre Registration</button>
<br>
<button type = "button" class = "btn btn-success btn-md" routerLink="/resturantlogin">Restaurant Login</button>
<br>
<button type = "button" class = "btn btn-info btn-md" routerLink="/restaurantreg">Restaurant Resigration</button>

