<html>
<head>
  <title>
    Log In
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="login.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
  <!-- Just an image -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="public">
      <img src="../../assets/img/logo.png" height="50" alt="">
    </a>
  </nav>
</nav>
</body>
</html>




