<html>

<head>
  <title>
    Restaurant Menu
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="restaurantstats.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>
<app-restaurantdropdown></app-restaurantdropdown>

<div class="container">
  <div class="container">
    <h3>Restaurant Statistics</h3>
    <p style="font-size: 18px">Below are some statistics you might find helpful</p>
  </div>
  <hr>
</div>

<!-- placeholder for statistics -->
<div #stats></div>

</body>

</html>
