<html>
<head>
  <title>
    customer dashboard
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="customerdashboard.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>
<app-customerdropdown></app-customerdropdown>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <strong> Order Number </strong>
        </div>
        <div class="col-md-2">
            <strong> Price </strong>
        </div>
        <div class="col-md-2">
            <strong> Name of Item </strong>
        </div>
        <!-- <div class="col-md-2">
            <strong> Status </strong>
        </div> -->
        <div class="col-md-2">
            <strong> Time </strong>
        </div>
        <div class="col-md-2">
            <strong> Rate out of 5 </strong>
        </div>
    </div>
    <hr>
    <div *ngIf="orders">
        <ul>
            <div *ngFor="let order of orders; index as i">
                <div class="row">
                    <div class="col-md-4">
                    {{i + 1}}
                    </div>
                    <div class="col-md-2">
                    $ {{order.price}}
                    </div>
                    <div class="col-md-2">
                    {{ order.name_of_item }}
                    </div>
                    <!-- <div class="col-md-2">
                    {{ order.status }}
                    </div> -->
                    <div class="col-md-2">
                    <!-- <button (click)="fullfillOrder(order._id, i)">Completed</button> -->
                    {{order.time}}
                    </div>
                    <div class="col-md-2">
                        {{order.ratings}}
                        <form mehtod="post" [formGroup]="ratingForm" (ngSubmit)="onRate(ratingForm.value, order)">
                            <input type="number" required="required" formControlName="ratings" value="{{ order.ratings }}">
                            <br>
                            <button type="submit" value="submit"
                                    class="btn btn-primary btn-lg btn-block pull-right" style="width: 100px; margin-right: 20px">Rate
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </ul>
        <br>
        <br>
    </div>
</div>

    
    

</body>
</html>
