<html>
<head>
  <title>
    customer dashboard
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="customerdashboard.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>
<app-customerdropdown></app-customerdropdown>

<div class="container">
  <div class="container">
    <h3>Welcome back</h3>
    <a routerLink="/chatfeature">Chat Board</a>
    <p style="font-size: 18px">Search for restaurants below</p>
  </div>
  <br>
  <div class="search-container">
    <form action="get" [formGroup]="userSearchForm" (ngSubmit)="onSubmit(userSearchForm.value)">
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <div class="input-group">
            <input type="text" placeholder="Restaurant Name" formControlName="restaurant_name">
            <div class="fa fa-microphone" (click) = "voiceSearchName()">
            
            </div>
          </div>
          
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input type="text" placeholder="Location" formControlName="location">
            <div class="fa fa-microphone" (click) = "voiceSearchLocation()">
            
            </div>
          </div>
          
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input type="text" placeholder="Category" formControlName="food_category">
            <div class="fa fa-microphone" (click) = "voiceSearchCategory()">
            
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
  <hr>
</div>

<!-- placeholder for results from search query -->
<div #result>
  <div *ngIf="results">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <h4> Searching Result: </h4>
        </div>
        <div class="col-md-2 col-md-offset-4">
          <div class="dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true"
                    aria-expanded="false">
              <span class="glyphicon glyphicon-th-list"></span>
              Sort By
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="updateToRatings()">Ratings</a></li>
              <!-- <li><a class="dropdown-item" (click)="updateToLocation()">Location</a></li>
              <li><a class="dropdown-item" (click)="updateToResName()">Restaurant Name</a></li>
              <li><a class="dropdown-item" (click)="updateToFoodCat()">Restaurant Category</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="container" style="margin-left: 0; margin-right: 20px">
        <ul *ngFor="let result of results">
          <div class="row">
            <div class="col-md-5">
              <img [src]="'/restaurant_images/'+result.res_image" alt="">
            </div>
            <div class="col-md-7">
               
              <a [routerLink]="['/displaymenu', result._id]" >{{result.name | titlecase}}</a>
              <li><strong> Food Category: </strong>{{result.food_category | titlecase}}</li>
              <li><strong> Address: </strong> <a
                href="http://maps.google.com/?q={{result.street1.replace(' ', '+')}}">{{result.street1| titlecase}}, {{result.street2| titlecase}}</a>
              </li>
              <li><strong> City: </strong> <a
                href="http://maps.google.com/?q={{result.location.replace(' ', '+')}}">{{result.location | titlecase}}</a>
              </li>
              <li><strong> State: </strong>{{result.state | titlecase}}</li>
              <li><strong> Zip Code: </strong>{{result.zip_code}}</li>
              <li><strong> Working Hours: </strong>{{result.working_hours | titlecase}}</li>
              <li><strong> Contact: </strong>{{result.contact | titlecase}}</li>
              <li><strong> Ratings: </strong>{{result.ratings/result.num_ratings}}</li>
              <li><strong> Description: </strong>{{result.description | titlecase}}</li>
            </div>
          </div>
          <hr>
        </ul>
      </div>
    </div>

  </div>
</div>


</body>
</html>
