<html>
<head>
  <title>
    Log In
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="login.component.css"></script>
  <script src="../../styles.css"></script>
  <!-- reCaptha api -->
  <script src="https://www.google.com/reCAPTCHA/api.js" async defer></script>
</head>
<body>
<div class="navigation">
  <div class="logo">
    <div style="float: left">
      <a routerLink="/public"> <img src="../../assets/img/logo.png" width="80px" height="80px"></a>
    </div>
    <div style="float: left">
      <div style="float: top;font-size: 35px">Food-O-Holic</div>
      <div style="float: bottom;font-size: 20px">ordering made easy</div>
    </div>
  </div>
  <div class="login">
    <a routerLink="/resturantlogin">Have A Restaurant Account?</a>
  </div>
</div>
<div style="float: top">
  <div class="window">
    <div style="float: top; width: 100%; font-size: 30px; margin-top: 10%; margin-bottom: 10%; padding-bottom: 30px; border-bottom: 2px gray solid;">
      <b>Register your Restaurant!</b>
    </div>
    <div class="regist-form">
      <form method="post"action='192.168.137.1:3000/sign' (submit) = newRest($event)>
        <div><p>Full Name:</p></div>
        <div><input type = "text" required="required" placeholder="John Doe" id="FullName"></div>
        <div><p>Email Address:</p></div>
        <div><input type = "text" required = "required" placeholder="johndoe@foodoholic.com" id="Email"></div>
        <div><p>Restaurant/Company Name</p></div>
        <div><input type = "text" required="required" placeholder="John Doe's Burgers" id="RestaurantName"><br></div>
        <div><p>Password:</p></div>
        <div><input type = "password" required="required" placeholder="*******************" id="password"></div>
        <div><p>Confirm Password:</p></div>
        <div><input type = "password" required="required" placeholder="*******************" id="confirmpass"></div>
        <div style="margin-top: 30px; margin-bottom: 30px">
          <button type = "submit" value="submit" class="btn btn-primary btn-lg">Register your Restaurant</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
