<p>registration works!</p>

<!-- Bootstrap CDN scripts -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h2>New User Registration</h2>

<form method="POST" action="connect to server" (submit) = newUser($event)>
    Full Name<br>
    <input type = "text" required="required" placeholder="John Doe" id="FullName"><br>
    Email Address<br>
    <input type = "text" required="required" placeholder="johndoe@gmail.com" id="Email"><br>
    Password<br>
    <input type = "text" required="required" placeholder="password" id="password"><br>
    <button type = "submit" value="submit" class="btn btn-primary btn-lg">Register</button>
</form>
