<html>

    <head>
        <title>
          Restaurant Details
        </title>
        <!-- Bootstrap CDN scripts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="login.component.css"></script>
        <script src="../../styles.css"></script>
    </head> 
    <body>

        <nav class="navbar navbar-light">
            <!-- Navbar content -->
            <!-- Just an image -->
            <a class="navbar-brand" routerLink="/public" style="padding: 0;">
              <img src="../../assets/img/logo.png" height="50" alt="">
            </a>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;">
              <li><a routerLink="/orderhistory">Order History</a></li>  
                <li><a routerLink="/resturantlogin"><span class="glyphicon glyphicon-log-out"></span> Log out </a></li>
            </ul>
          </nav>
          <app-sidebar>
            
          </app-sidebar>

          <form mehtod="post" [formGroup]="detailsForm" (ngSubmit) = onSubmit(detailsForm.value)>
            <div>Edit Details</div>
            <div>Restaurant Name: </div>
            <div><input type = "text" required="required" formControlName="name" placeholder="John Doe's Burgers" id="name" style="width: 100%"></div>
            <div>Restaurant Location: </div>
            <div><input type="text" required="required" formControlName="location" placeholder="Bloomington, IN" id="location" style="width: 100%"></div>
            <div>Category: </div>
            <div><input type="text" required="required" formControlName="food_category" placeholder="Fast Food" id="food_category" style="width: 100%"></div>
            <div>Image: </div>
            <div><input type="file" required="required" accept="image/*" id="res_image"></div>
            <div>Contact Phone Number: </div>
            <div><input type="text" required="required" formControlName="contact" placeholder="555-555-5555" id="contact"></div>
            <div>Working Hours: </div>
            <div><input type="text" required="required" formControlName="working_hours" placeholder="12pm - 8 pm" id="working_hours"></div>
            <button type="submit" value="submit" class="btn btn-primary btn-lg btn-block">Update</button>
          </form>

    </body>

</html>