<html>

<head>
  <title>
    Order History
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="orderhistory.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>

<app-restaurantdropdown></app-restaurantdropdown>

<div class="container">
  <div class="container">
    <h3>Order History</h3>
    <p>Below order history from your restaurant.</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <strong> Order Number </strong>
    </div>
    <div class="col-md-2">
        <strong> Item </strong>
    </div>
    <div class="col-md-2">
          <strong> Name of Item </strong>
    </div>
    <div class="col-md-2">
      <strong> Price </strong>
    </div>

    
    <div class="col-md-2">
      <strong> Status </strong>
    </div>
    <div class="col-md-2">
      <strong> Time </strong>
    </div>
  </div>
  <hr>
  <div *ngIf="orders" >
    <ul  style="text-align: left;">
      <div *ngFor="let order of orders; index as i" >
        <div class="row" style="margin-top: 5px">
          <div class="col-md-2"  style="text-align: left;">
            {{i + 1}}
          </div>
          <div class="col-md-2">
              <img [src]="'/menu_images/' + order.restaurant_id+order.name_of_item+'.png'" alt="" style="width: 150px; height: 100px">
          </div>
          
          <div class="col-md-2">
            {{ order.name_of_item }}
          </div>
          <div class="col-md-2">
              $ {{order.price}}
          </div>
          <div class="col-md-2">
              {{ order.status }}
          </div>
          <div class="col-md-2">
            {{ order.time }}
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>

</body>

</html>
