<nav class="navbar navbar-light">
  <!-- Navbar content -->
  <!-- Just an image -->
  <a class="navbar-brand" routerLink="/public" style="padding: 0;">
    <img src="../../assets/img/logo.png" height="50" alt="">
  </a>
  <ul class="nav navbar-nav navbar-right">
    <li class="" style="width: 200px; text-align: center">
        <a href="#" routerLink="/customerdashboard">
          <span class="glyphicon glyphicon-cog"></span>
          Search Restaurants
          <b class=""></b>
        </a>
    </li>
    <li class="" style="width: 200px; text-align: center">
      <a href="#" routerLink="/customerrecommendations">
        <span class="glyphicon glyphicon-cog"></span>
        Recommendations
        <b class=""></b>
      </a>
    </li>
    <li class="" style="width: 160px; text-align: center">
        <a href="#" routerLink="/customercurrentorders">
          <span class="glyphicon glyphicon-cog"></span>
          Current Orders
          <b class=""></b>
        </a>
    </li>
    <li class="" style="width: 160px; text-align: center">
        <a href="#" routerLink="/customerorderhistory">
          <span class="glyphicon glyphicon-cog"></span>
          Order History
          <b class=""></b>
        </a>
    </li>
    <li class="dropdown" style="width: 160px; text-align: center">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span>
        Account
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" routerLink="/customerprofile">
            <span class="glyphicon glyphicon-user"></span>
            Profile
          </a>
        </li>
        <li>
          <a href="#" routerLink="/login">
            <span class="glyphicon glyphicon-log-out" (click)="logout()"></span>
            Logout
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
