<html>
<head>
  <title>
    public dashboard
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="public.component.css"></script>
  <script src="../../styles.css"></script>
<!--  <script src="../backgroup-image.css"></script>-->
</head>
<body>
<app-logindropdown></app-logindropdown>

<div class="container">
  <div class="container">
    <h3>Welcome to Food-O-Holics</h3>
    <p style="font-size: 18px">Search for restaurants below</p>
  </div>
  <br>
  <div class="search-container">
    <form action="get" [formGroup]="userSearchForm" (ngSubmit)="onSubmit(userSearchForm.value)">
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <div class="input-group">
            <input type="text" placeholder="Restaurant Name" formControlName="restaurant_name">
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input type="text" placeholder="Location" formControlName="location">
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input type="text" placeholder="Category" formControlName="food_category">
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
  <hr>
</div>

<app-my-details></app-my-details>

<div #result>
  <div *ngIf="results">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <h4> Searching Result: </h4>
        </div>
        <div class="col-md-2 col-md-offset-4">
          <div class="dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true"
                    aria-expanded="false">
              <span class="glyphicon glyphicon-th-list"></span>
              Sort By
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="updateToLocation()">Location</a></li>
              <li><a class="dropdown-item" (click)="updateToResName()">Restaurant Name</a></li>
              <li><a class="dropdown-item" (click)="updateToFoodCat()">Restaurant Category</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container" style="margin-left: 0; margin-right: 20px">
        <ul *ngFor="let result of results">
          <div class="row">
            <div class="col-md-5">
              <img [src]="result.res_image" alt=""/>
            </div>
            <div class="col-md-7">
              <h4><strong> {{result.name}} </strong></h4>
              <li><strong> Food Category: </strong>{{result.food_category}}</li>
              <li><strong> Location: </strong> <a
                href="http://maps.google.com/?q={{result.location.replace(' ', '+')}}">{{result.location}}</a>
              </li>
              <li><strong> Working Hours: </strong>{{result.working_hours}}</li>
              <li><strong> Description: </strong> Some thing write here!</li>
            </div>
          </div>
          <hr>
        </ul>
      </div>
    </div>

  </div>
</div>

</body>
</html>




