<nav class="navbar navbar-light" style="padding-right: 30px">
  <!-- Navbar content -->
  <!-- Just an image -->
  <a class="navbar-brand" routerLink="/public" style="padding: 0;">
    <img src="../../assets/img/logo.png" height="50" alt="">
  </a>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown" style="width: 160px; text-align: center">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        Sign up
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" routerLink="/registration">Customers</a></li>
        <li><a href="#" routerLink="/restaurantreg">Restaurant</a></li>
        <li><a href="#" routerLink="/deliveryreg">Delivery Person</a></li>
      </ul>
    </li>
    <li class="dropdown" style="width: 160px; text-align: center">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-log-in"></span>
        Login
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" routerLink="/login">Customers</a></li>
        <li><a href="#" routerLink="/resturantlogin">Restaurant</a></li>
        <li><a href="#" routerLink="/deliverylogin">Delivery Person</a></li>
      </ul>
    </li>
  </ul>
</nav>
